@font-face {
    font-family: 'gilroy-extrabold';
    src: url('../fonts/gilroy-extrabold/Gilroy-ExtraBold.eot');
    src: url('../fonts/gilroy-extrabold/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy-extrabold/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/gilroy-extrabold/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/gilroy-extrabold/Gilroy-ExtraBold.ttf') format('truetype'),
        url('../fonts/gilroy-extrabold/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gilroy-light';
    src: url('../fonts/gilroy-light/Gilroy-Light.eot');
    src: url('../fonts/gilroy-light/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy-light/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/gilroy-light/Gilroy-Light.woff') format('woff'),
        url('../fonts/gilroy-light/Gilroy-Light.ttf') format('truetype'),
        url('../fonts/gilroy-light/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



.wrapper{
    width: 940px;
    margin: 0 auto;
}
@media (max-width:1024px) {
    .wrapper{
        padding: 0px 20px;
    }
}

.wrapper__background_gray{
    background-color: #F6F6F6;
}

.header{
    padding-top: 33px;
}


/* Бургер меню */



.header__nav{
    display: flex;
    flex-wrap: wrap;
}

.header__list{
    display: flex;
    flex-wrap: wrap; 
}

.header__item{
    margin-right: 155px;
}
.header__item:last-child{
    margin-right: 0px;
}

.header__link{
    font-family: 'gilroy';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-decoration: none;
}
.header__link:hover, .header__link:focus{
    color: black;
    transition: .3s;
}

.header__link_active{
    color: black;
}

.heager__line{
    position: absolute;
    width: 940.6px;
    height: 0px;
    top: 87.94px;
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.preview{
    display: flex;
    flex-wrap: wrap;
}

.preview__title{
    margin-top: 50px;
}

.preview__title_style{
    font-family: 'gilroy';
    font-weight: 700;
    font-size: 47px;
    line-height: 57px;
    font-style: normal;
}

.preview__subtitle{
    margin-top: 110px;
    margin-left: 297px;
    margin-right: 347px;
}

.preview__subtitle_style{
    font-family: 'gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
}

.preview__language{
    margin-top: 80px;
}

.preview__language_style{
    font-family: 'gilroy';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    transform: rotate(180deg);
    white-space: nowrap;
    writing-mode: vertical-rl;

    cursor: pointer;
}

.preview__lunguage_link{
    color: #828282;
    text-decoration: none;
}
.preview__lunguage_link:hover, .preview__lunguage_link:focus{
    color: black;
    transition: .3s;
}

.preview__lunguage_activ{
    color: black;
}

.preview__img{
    margin-top: 30px;
    padding-bottom: 104px;
}

.title{
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
}

.title_about-position{
    padding-top: 120px;
    text-align: center;
}

.subtitle{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.subtitle_about-position{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 110px;
}

.title_skills-position{
    padding-top: 95px;
    text-align: center;
}

.subtitle_skills-position{
    margin-top: 63px;
    text-align: center;
    padding-bottom: 84px;
}

.skills__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.skills__item_style{
    margin-right: 30px;
    padding-bottom: 77px;
}
.skills__item_style:last-child{
    margin-right: 0px;
}

.skills__item_img{
    margin-bottom: 25px;
}

.skills__item_discription{
    margin-bottom: 40px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.title_portfolio-position{
    padding-top: 115px;
    padding-bottom: 50px;
    text-align: center;
}

.portfolio__project{
    text-align: center;
}

.portfolio__item{
    margin-bottom: 100px;
}
.portfolio__item:last-child{
    margin-bottom: 63px;
}

.portfolio__link{
    padding-top: 46px;
}

.portfolio__link_style{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: black;
}
.portfolio__link_style:hover{
    transition: .3s;
    text-decoration: none;
}

.title_contacts-position{
    padding-top: 150px;
    text-align: center;
}

.subtitle_contacts-position{
    padding-top: 21px;
    text-align: center;
}

.button{
    width: 180.5px;
    height: 42px;
    background-color: black;
    border-radius: 50px;
    border: none;
}

.contacts__button{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 86px;
}
.button:hover{
    background-color: #828282;
    transition: .4s;

}

.button__text{
    font-family: 'Gilroy';
    font-style: normal;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

.footer__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__item{
    margin-right: 60px;
}
.footer__item:last-child{
    margin-right: 0px;
}

.footer__subtitle_style{
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
}

.footer__subtitle_position{
    margin-top: 45px;
    text-align: center;
    margin-bottom: 124px;
}